Body{
	background-image: url(espace.jpg);
	width: 100%;
}


header{
	padding:10px;
	color:#FFFFFF;
	margin-bottom:10px;
}


.boite1{
	
	background-image: url(geeko.jpg);
	border: solid 2px black;
	margin-left: 220px;
	height: 144px;	
	width: 500px;
	padding-top: 30px;
	font-size: 100px;
	text-align: center;
	margin-right: 200px;
	border-radius: 10px;
	float: left;

}


.navig{
	background-color: #A399FE;
	border: solid 2px;
	border-radius: 10px;
	margin-right: 30px;
	margin-top:10px;
	width: 250px;
	float: right;

}

.boite2{
	background-image: url(logoiut.jpg);
	border: solid 2px aqua;
	height: 170px;
	width: 190px;
	border-radius: 10px;
	font-size: 20px;
}


.boite3{
	background-color: #B2ECFE ;	
	border: solid 2px;
	border-radius:20px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 5px; 
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	height: 100%;
	width: 675px;
	font-size: 15px;
}

.jekif{
	width: 325px;
	height: 200px;
}
.jekif2{
	width:325px;
	height:200px;
}
.jekif3{
	width:325px;
	height:200px;
}
.jekif4{
	width:325px;
	height:200px;
}
.jekif5{
	width:325px;
	height:200px;
}
.jekif6{
	width:325px;
	height:200px;
}

.boite4{
	margin-left: 5px;
}
